<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Landon Hotel: rooms</title>
</head>
<body>
<h1>Welcome to the Guests Page</h1>
<table>
    <tr>
        <td>Room Id</td>
        <td>Room No</td>
        <td>Room Name</td>
        <td>Bed Info </td>


    </tr>
    <tr th:each="room: ${rooms}">
        <td th:text="${room.id}">RoomID</td>
        <td th:text="${room.room_number}">RoomNo</td>
        <td th:text="${room.name}">RoomName</td>
        <td th:text="${room.bedInfo}">BedInfo</td>

    </tr>
</table>
</body>
</html>

